body{
    background-color: rgb(59, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.digital{
    color: white;
    font-size: 150px;
    font-weight: bold;
}
.text{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.btn-container{
    display: flex;
   align-items: center;
   justify-content: center;
}
#stop{
    margin: 20px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(28, 97, 62);
    border:0ch;
    cursor: pointer;
}
#reset{
    margin: 20px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(154, 25, 16);
    border:0ch;
    cursor: pointer;
}
#start{
    margin: 20px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(19, 69, 131);
    border:0ch;
    cursor: pointer;
}